.form-sigin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-sigin .checkbox {
    font-weight: 400;
}

.form-sigin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-sigin .form-control:focus {
    z-index: 2;
}

.form-sigin input {
    border-radius: 0;
}

.form-sigin input[type="email"] {
    margin-bottom: -1px;
}

.form-sigin input[type="password"] {
    margin-bottom: 10px;
}

.form-registration {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-registration .checkbox {
    font-weight: 400;
}

.form-registration .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-registration .form-control:focus {
    z-index: 2;
}

.form-registration input {
    border-radius: 0;
}

.form-registration input[type="email"] {
    margin-bottom: -1px;
}

.form-registration input[type="password"] {
    margin-bottom: -1px;
}

.bg-header {
    background-color: #f3f3f3;
}

.fa-running {
    color: #007bff;
}

.cont-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.cont-box__cont {
    display: flex;
    flex-direction: column;
}

.block-0 {
    display: flex;
    width: auto;
    align-items: flex-end;
}

.block-1 {
    align-items: flex-end;
    flex-grow: 1;
}

.block-2 {
    display: flex;
    width: auto;
    align-items: flex-end;
}

.nun-weight {
    flex-grow: 1;
    border: solid 1px;
    padding: 0;
    margin: 0 0;
}

/*.progress{*/
/*    display: flex;*/
/*    margin: auto 0;*/
/*    border: solid 1px;*/
/*}*/