{% if weight_users != [] %}
<table class="table">
    <thead>
    <tr>
        <th class="border-0 col-4" scope="col">Дата</th>
        <th class="border-0 col-4" scope="col">Вес</th>
        <th class="border-0 col-3" scope="col">Прогресс</th>
        <th class="border-0 col-1 text-right" scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% set bgcolor = 'table bg-light' %}
    {% for el in weight_users %}
    {% if el.real_progress < 0 %}
    {% set bgcolor = 'table-success' %}
    {% endif %}
    {% if el.real_progress > 0 %}
    {% set bgcolor = 'table-danger' %}
    {% endif %}
    <tr class="{{ bgcolor }} border-primary">
        <td>{{ el.created_at }}</td>
        <th scope="row">{{ el.real_weight }}</th>
        <td>{{ el.real_progress }}</td>
        <th scope="row" class="text-right text-primary">
            <form method="post">
                <button type="submit" name="btn_id" class="btn close border-0" value="{{ el.id }}_del" title="Удалить">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
        </th>
    </tr>
    {% endfor -%}
    </tbody>
</table>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-center"><img src="/{{ graph_img_name }}" class="img-fluid" alt="график"></p>
        </div>
    </div>
</div>
{% else %}
<div class="col-10 offset-1 col-sm-6 offset-sm-3 alert alert-info text-center alert-dismissible fade show border border-success"
     role="alert">
    У вас пока нет записей, нажмите <a href="{{ url_for('add') }}">добавить</a>, что бы видеть ваш прогресс.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
</div>
<p class="text-center"><a type="button" class="btn btn-sm btn-warning ml-1" href="{{ url_for('add') }}">Добавить</a></p>
{% endif %}


