<div class="form-group row mb-3 pt-2 mt-3 shadow bg-white rounded col-sm-8 offset-sm-2">
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="border-0" scope="col">Вес</th>
            <th class="border-0" scope="col">Прогресс</th>
            <th class="border-0" scope="col">Дата</th>
        </tr>
        </thead>
        <tbody>
        {% for el in list %}
        <tr>
            <th scope="row">{{ el.real_weight }}</th>
            <td>{{ el.real_progress }}</td>
            <td>{{ el.created_at.strftime("%d.%m.%Y") }}</td>
        </tr>
        {% endfor -%}
        </tbody>
    </table>
</div>


