{% if target != [] %}
{% set bgcolor = 'bg-primary' %}
{% for el in target %}
{% set b = el.user_target_weight %}
{% set a = el.start_weight %}
{% set c = weight %}
{% set x = 100 - ((c - b) * 100) // (a - b) %}
{% set z = x * 2 %}
{% if x > 20 and x < 50 %}
{% set bgcolor = 'bg-info' %}
{% elif x > 50 %}
{% set bgcolor = 'bg-success' %}
{% endif %}
<div class="cont-box mb-0">
    <div class="block-0">
        <h6 class="mb-1"><span class="material-icons text-info mr-2">{{ el.start_weight }}</span></h6>
    </div>
    <div class="block-1">
        <div class="cont-box__cont">
            <i class="fas fa-running" style="margin-left: {{ x }}%"></i>
        </div>
        <div class="progress mb-0" style="height: 5px;">
            <div class="progress-bar progress-bar-striped progress-bar-animated {{ bgcolor }}"
                 role="progressbar" style="width:{{ x }}%"
                 aria-valuenow="{{ x }}"
                 aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>
    <div class="block-2">
        <h6 class="mb-1">
            <span class="small text-info">моя цель</span>
            <span class="material-icons text-info mr-2">{{ el.user_target_weight }}</span>
        </h6>
    </div>
</div>
{% endfor %}
{% endif %}
{% if weight_users != [] %}
<table class="table">
    <thead class="bg-header">
    {% if title_date %}
    <tr>
        <th class="border-0 text-center pt-2 pb-0" scope="col" colspan="4">{{ title_date }}</th>
    </tr>
    {% endif %}
    <tr>
        <th class="border-0 col-4 pt-0" scope="col">Дата</th>
        <th class="border-0 col-4 pt-0" scope="col">Вес</th>
        <th class="border-0 col-3 pt-0" scope="col">Прогресс</th>
        <th class="border-0 col-1 pt-0 text-right" scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% set bgcolor = 'bg-light' %}
    {% for el in weight_users %}
    {% if el.real_progress < 0 %}
    {% set bgcolor = 'table-success' %}
    {% endif %}
    {% if el.real_progress > 0 %}
    {% set bgcolor = 'table-danger' %}
    {% endif %}
    <tr class="{{ bgcolor }} border-secondary">
        <td>{{ el.created_at }}</td>
        <th scope="row">{{ el.real_weight }}</th>
        <td>{{ el.real_progress }}</td>
        <th scope="row" class="text-right text-primary">
            <form method="post">
                <button type="submit" name="btn_id" class="btn close border-0" value="{{ el.id }}_del" title="Удалить">
                    <span aria-hidden="true">&times;</span>
                </button>
            </form>
        </th>
    </tr>
    {% endfor -%}
    </tbody>
</table>
{% if pagination %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% for linc in pagination %}
        <li class="{{ linc.link_class }}"><a class="page-link" href="/profile/{{ session }}/weight/{{ linc.page_id }}/">{{
            linc.page_id }}</a>
        </li>
        {% endfor -%}
    </ul>
</nav>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-center"><img src="/{{ graph_img_name }}" class="img-fluid" alt="график"></p>
        </div>
    </div>
</div>
{% else %}
<div class="col-10 offset-1 col-sm-6 offset-sm-3 alert alert-info text-center alert-dismissible fade show border border-success"
     role="alert">
    У вас пока нет записей, нажмите <a href="{{ url_for('add') }}">добавить</a>, что бы видеть ваш прогресс.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
</div>
<p class="text-center"><a type="button" class="btn btn-sm btn-warning ml-1" href="{{ url_for('add') }}">Добавить</a></p>
{% endif %}